 /* body, html and variables */
 @font-face {
    font-family: "Smack Laideth Down 2019";
    src: url("../fonts/Smack\ Laideth\ Down\ 2019.otf");
  }
  :root{
    --primary-color-gold: #BE9C37;
    --primary-color-black:#0C1014;
    --black:#000000;

    --main-font: 'Inter', sans-serif;
    --font-size-normal:0.9rem;

    --heading-font: 'Smack Laideth Down 2019';
    --heading-size-normal: 1rem;
    --heading-size-large: 1.2rem;
    --heading-weight:400;

  }
 *
 {
    box-sizing: border-box;
    padding: 0;                
    margin: 0; 

 }
 html { 
    background: url(../images/darkprem23.jpg) no-repeat center fixed; 
    background-size: cover;
    background-color: var(--black);
    height: 100%;
    font-family: var(--main-font);
    color: white;
    font-size: 16px;
  }
body{
    display: flex;
    flex-direction: column;
    gap:1rem;
    min-height: 100vh;
    width: 100%;
}

/* h1, h2, anchor, p elements and hr tag */
h1, h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    text-align: center;
    padding:20px;
    word-spacing: 2px;
    color:white;
    padding-top:20px
}
h2{
    font-size:var(--heading-size-normal)
}
h1{
    font-size: var(--heading-size-large);
}

a{  
    text-decoration: none;
    color: white;
}
p{
    font-size: var(--font-size-normal);
}
hr{
    max-width: 300px;
    margin: auto;
    border: none;
    height: 5px;
    background: radial-gradient(50% 50% at 50% 50%, var(--primary-color-gold) 0%, rgba(152, 117, 28, 0) 100%);
}
@media(min-width:40rem){
    :root{
        --heading-size-normal: 1.2rem;
        --heading-size-large: 2rem;
        --font-size-normal:1rem;
    }
}

/* header and navigation */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    background-color:var(--black);
    color: white;
    top: 0;
    z-index: 1;
}
nav{
    position: absolute;
    background-color:var(--primary-color-black);
    top:85px;
    left: 4px;
    border-radius: 5px;
    border: 1px solid var(--primary-color-gold);

}





/* testing add to cart function */
.shopping-cart{
    position: relative;
    padding: 5px;
    
}
.item-amount{
    top: -15px;
    right:5px;
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    background: red;
    font-size: var( --font-size-normal);

}

/*                             */




nav, #menu-checkbox{
    display: none;
}
#menu-checkbox:checked ~ nav{
    display: block;
}
nav a{
    display: block;
    padding: 20px;
}

.hamburger-icon, .cart-icon{
    padding: 10px;
}
#logo{
    cursor: pointer;
    padding: 10px;
    max-width:150px;   
}

#logo:active{
    transform: scale(0.99);
}
.active-page{
    color: var(--primary-color-gold);
}

 @media (min-width: 44rem){
    header{
        justify-content: space-around;
    }
    nav{
        background-color: var(--black);
        font-size: var(--heading-size-normal);
        padding: 0;
        display: flex;
        position: static;
        margin-right: 80px;
        border: none;
    }
  
    .hamburger-icon{
        display: none;
    }
    nav a{
        display: inline-block;
        padding: 25px;
        transition-property: color;
        transition-duration: 0.3s;
    }
    .fa-house, .fa-store, .fa-circle-info, .fa-square-phone{
        display: none  !important;
    }
    nav a:hover{
        color: var(--primary-color-gold);
    }
    .cart-icon{
        padding-right: 20px;
    }
    .cart-icon:hover{
        color: var(--primary-color-gold);
    }
    .cart-icon{
        transition-property: color;
        transition-duration: 0.3s;
    }

 }

/* Game section, and game card components */
.game-section{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
    gap:7px;
    row-gap: 30px;  
 
}
.game-card{
    width: min(100% - 2rem, 155px);
    background:var(--primary-color-black);
    border: 1.5px solid var(--primary-color-gold);
    border-radius: 5px;
    text-align: center;

}
.game-card p{
    text-align: left;
    padding: 5px 0px 5px 8px;
}
.price{
    color: var(--primary-color-gold);
}
.game-title{
    font-weight: bold;
}

.game-cover-img{
    margin-top: 10px;
    background-size:cover;
    max-width: 120px;
    border-radius: 5px;
}

.sold-by-users{
    margin-bottom: 15px;
}

.cta{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color:var(--primary-color-gold);
    padding: 10px 50px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--black);
    margin: 10px;
    display: block;
}
.all-games-cta-container{
    height: fit-content;
    width:fit-content;
    margin:0 auto;
}
.game-card-cta{
    padding: 5px;
    text-align: center;
}

.cta:active{
    transform: scale(0.99);
}

@media (min-width: 40rem){
    .game-section{
        gap:15px;
        
    }
    .game-card{
        width: min(100% - 2rem, 180px);
    }
    .game-card:hover{
        transform: translateY(-5px);
        transform: scale(1.08);
        transition-duration: 0.4s;
        box-shadow: 0px 5px 5px 1px var(--primary-color-gold);
}
}

/* About */

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .about-image{
    max-width:180px;
    border-radius: 50%;
}

.about-text{
    width: min(100% - 2rem, 350px);
    padding: 0 10px;
    line-height: 150%;
    margin-top: 20px;
    text-align: left;
}
.about-text p{
    margin-top: 30px;
}
@media (min-width: 40rem){
    .about-text{
        width: min(100% - 2rem, 600px);
        padding: 0 10px;
    }
    .about-image{
        max-width:300px;
    }
}

/* Contact */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    padding: 5px;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: min(100% - 2rem, 300px);
    margin-inline:auto;
    margin-bottom: 5px;
    padding: 0px 10px 10px 10px;
    line-height: 150%;
    background-color: var(--primary-color-black);
    border: 1px solid var(--primary-color-gold);
    border-radius: 5px;
}

fieldset label{
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.textarea-field{
    height: 110px;
    font-size: var(--font-size-normal);
}
.contact-cta{
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    border-radius: 0;
    border: none;

}
.contact-info{
    display: flex;
    justify-content: center;
    gap:5px;
    flex-direction: column;
    align-items: center; 
 
}
.email-info, .phone-info{
    text-align: center;
    border: 1px solid var(--primary-color-gold);;
    border-radius: 5px;
    line-height: 150%;
    background: var(--primary-color-black);
    padding: 5px 0;
    width: min(100% - 2rem, 300px);
    
}

.fa-phone, .fa-envelope, .fa-location-dot{
    margin-top: 16px;
    color: var(--primary-color-gold);;
}
.location-info-container{
    display: flex;
    justify-content:center;
    margin-top: 5px;
}

.location-info{
    width: min(100% - 2rem, 300px);
    background: var(--primary-color-black);
    text-align: center;
    border: 1px solid var(--primary-color-gold);;
    border-radius: 5px;
    line-height: 150%;
    padding: 5px 0;
    }
    @media(min-width:40rem){
        .textarea-field{
            height: 150px;
        }
    }
    @media(min-width:21rem){
        .contact-info{
            display: flex;
            flex-direction: row;
            justify-content: center;    
        }
        .email-info, .phone-info{
            width: min(100% - 2rem, 147px);
        }
    }
    
/* Details */
.details-section, .cart-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-container{
    width: min(100% - 2rem, 330px);
    text-align: center;
    border: 1px solid var(--primary-color-gold);;
    background-color: var(--primary-color-black);
    border-radius: 5px;
}

.details-img{ 
    margin: 10px;
    border-radius: 5px;
    max-width:150px; 
}

.forge-legend-text h3{
    text-align: center;
}
.forge-legend-text p, .secondary-info p{
    line-height: 1.5;
    text-align: left;
    padding: 20px;
}
/* cart */
.cart-section, .checkout-section{
    background: var(--primary-color-black);
    margin: 10px auto;
    max-width: 1000px;
    text-align: center;
    line-height: 1.5;

}
.cart-item{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin-inline: auto;
    padding: 10px;
    overflow: hidden;

}
.cart-img-container{
    max-width: 100px;
}
.cart-image {
    max-width: 100%;
    border-radius: 5px;
}

.cart-section h2{
    font-family: var(--main-font);
    font-size: var(--font-size-normal);
    font-weight: 700;
}
.product-info-wrapper{
    display: flex;
    text-align: left;
    gap: 10px;
}

.cart-input{
    max-width: 50px;
    width: auto;
    padding: 5px 5px;
    border-radius: 5px;
    border:none;
}
.product-info{
    grid-column: 2;
}
.amount{
    grid-column: 1;
    grid-row:2;
}

.item-price{
    grid-column: 2;
    grid-row:2;
}
.total-cost{
    grid-column: 3;
    grid-row: 2;
}

@media (min-width: 40rem){
.cart-item{
    grid-template-columns: repeat(4, 1fr);
}
 .product-info{
    grid-column: 1;
 }
 .amount{
    grid-column: 2;
    grid-row: 1;
}
.item-price{
    grid-column: 3;
    grid-row:1;
}
.total-cost{
    grid-column: 4;
    grid-row: 1;
}
.product-info-wrapper{
    align-items: center;
}
}

/*Checkout */

.checkout-form{
    text-align: left;
    border:0;
    
}
.checkout-section h2, .total-text{
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
}
.checkout-cta-paypal{
    background-color: white;
    color:  #00457C
}
.checkout-cta-paypal, .buy-now-cta{
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-top: 20px;
    border-radius: 0;
}

.checkout-page {
    text-align: center;
    margin-top: 20px;
    background: none;
    background-color: var(--primary-color-black);
}
.summary-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    line-height: 1.5;
    text-align: left;
}

/*success*/

.success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    gap:50px;
    white-space: nowrap;
    line-height: 1.5;
}
.success-img img{
    max-width: 150px;
    text-align: center;
}

/* Footer */
footer{
    display: block;
    text-align: center;
    background-color:var(--black);
    line-height: 150%;
    margin-top: auto;
}

footer address, ul, .copyright{
    padding:15px;
    font-style: normal;
}
.social-media-links{
    text-align: center;
}
.social-media-links li{
    display: inline-block;
    padding: 10px 10px;
}

@media (min-width: 45rem){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}