 /* body, html and variables */
 @font-face {
    font-family: "Smack Laideth Down 2019";
    src: url("../fonts/Smack\ Laideth\ Down\ 2019.otf");
  }
  :root{
    --primary-color-gold: #BE9C37;
    --primary-color-black:#0C1014;
    --black:#000000;

    --main-font: 'Inter', sans-serif;
    --font-size-normal:0.9rem;
    
    --font-size-mobile-small-screen: 1.1rem;


    --heading-font: 'Smack Laideth Down 2019';
    --font-size-nav: 1.2rem;
    --heading-size-normal: 1.2rem;
    --heading-size-large: 1.3rem;
    --heading-weight:400;

  }
 *
 {
    box-sizing: border-box;
    padding: 0;                
    margin: 0; 

 }
 html { 
    background: url(../images/darkprem23.jpg) no-repeat center fixed; 
    background-size: cover;
    background-color: var(--black);
    height: 100%;
    font-family: var(--main-font);
    color: white;
    font-size: 16px;
  }
body{
    display: flex;
    flex-direction: column;
    gap:1rem;
    min-height: 100vh;
    width: 100%;
}

/* h1, h2, anchor, p elements and hr tag */
h1, h2{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    text-align: center;
    padding:20px;
    word-spacing: 2px;
    color:white;
    padding-top:20px
}
h2{
    font-size:var(--heading-size-normal)
}
h1{
    font-size: var(--heading-size-large);
}

a{  
    text-decoration: none;
    color: white;
}
p{
    font-size: var(--font-size-normal);
}
hr{
    max-width: 300px;
    margin: auto;
    border: none;
    height: 5px;
    background: radial-gradient(50% 50% at 50% 50%, var(--primary-color-gold) 0%, rgba(152, 117, 28, 0) 100%);
}

@media(min-width:40rem){
    :root{
        --heading-size-normal: 1.3rem;
        --heading-size-large: 2rem;
        --font-size-normal:1rem;
    }
}

/* header and navigation */

header{
    display: flex;
    width: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    background-color:var(--black);
    color: white;
    top: 0;
    z-index: 1;
}
.nav-menu{
    
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
    position: fixed;
    background-color:var(--primary-color-black);
    top: 118px;
    left: -300px;
    height: 400px;
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--primary-color-gold);
    border-left: none;
    font-size: var(--font-size-nav);
    font-weight: 700;
    transition: 0.3s ease;
}
.nav-menu.active{
    left: 0; 
}
.hamburger-menu.active{
    transform: rotate(360deg);
    transition: 0.5s ease;
    color:var(--primary-color-gold);
}
.nav-ul{
    display: block;
}
.nav-ul li{
    list-style-type: none;
    padding: 25px;
}
#logo{
    cursor: pointer;
    max-width:150px;   
}

.active-page{
    color: var(--primary-color-gold);
}

 @media (min-width: 49rem){
    .nav-menu{
        flex-direction: row;
        padding: 0;
        align-items: center;
        position: sticky;
        height: auto;
        transition: none;
        background: #000000;
        border: none; 
    }
    .nav-ul{
       display: flex;
       margin-right: 100px;
       font-weight: 400;
    }
    nav a, .cart-icon{
        transition-property: color;
        transition-duration: 0.3s;
    }
    .mobile-logo, .hamburger-menu{
        display: none  !important;
    }
    nav a:hover, .cart-icon:hover{
        color: var(--primary-color-gold);
    }   
 }

/* Game section, and game card components */
.game-section{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    flex-wrap: wrap;
    gap:8px;
    row-gap: 40px;  
}
.game-card{
    width: min(100%, 180px);
    background:var(--primary-color-black);
    border: 1.5px solid var(--primary-color-gold);
    border-radius: 5px;
    text-align: center;
}
.game-card p{
    text-align: left;
    padding: 5px 0px 5px 8px;
}
.price{
    color: var(--primary-color-gold);
}
.game-title{
    font-weight: bold;
}
.game-cover-img{
    margin-top: 10px;
    background-size:cover;
    max-width: 140px;
    border-radius: 5px;
}
.sold-by-users{
    margin-bottom: 15px;
}

@media (max-width: 390px){
    .game-card{
    width: min(100%, 230px);
    }
    .game-title, .price{
        font-size: var(--font-size-mobile-small-screen);
        margin: 10px 0px 0px 15px;
    }
}
@media (min-width: 50rem){
    .game-section{
        gap:10px;
    }
    .game-card{
        width: min(100%, 190px);
    }
    .game-card:hover{
        transform: translateY(-5px);
        transform: scale(1.08);
        transition-duration: 0.4s;
        box-shadow: 0px 4px 4px 1px var(--primary-color-gold);
    }
}

/*Buttons /CTA */
.cta{
    text-align: center;
    text-decoration: none;
    background-color:var(--primary-color-gold);
    padding: 10px 50px;
    border-radius: 3px;
    font-weight: bold;
    font-size: var(--font-size-normal);
    color: var(--black);
    margin: 10px;
    display: block;
    border: none;
}
  .cta-small{
    padding: 7px;
  }
  @media (max-width: 390px){
    .cta-small{
        padding: 10px;
        margin: 20px 20px 10px 20px;
      }
  }
.cta-large{
    text-transform: uppercase;
    margin: 10px 0 5px 0;
    border-radius: 0;
    padding: 10px;
}
.checkout-paypal{
    background-color: white;
    color:  #00457C;
    margin-top:5px;
}
.checkout-cta{
    padding: 5px;
}

.cta-container{
    height: fit-content;
    width:fit-content;
    margin:0 auto;
}
.cta:active, #logo:active{
    transform: scale(0.99);
}

/* About */

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .about-image{
    max-width:180px;
    border-radius: 50%;
}

.about-text{
    width: min(100%, 350px);
    padding: 0 10px;
    line-height: 150%;
    margin-top: 20px;
    text-align: left;
}
.about-text p{
    margin-top: 30px;
}
@media (min-width: 40rem){
    .about-text{
        width: min(100%, 600px);
        padding: 0 10px;
    }
    .about-image{
        max-width:300px;
    }
}

/* Contact */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    padding: 5px;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: min(100% - 2rem, 300px);
    margin-inline:auto;
    margin-bottom: 5px;
    padding: 0px 10px 10px 10px;
    line-height: 150%;
    background-color: var(--primary-color-black);
    border: 1px solid var(--primary-color-gold);
    border-radius: 5px;
}

fieldset label{
    line-height: 1.5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.textarea-field{
    height: 110px;
    font-size: var(--font-size-normal);
}

.contact-info{
    display: flex;
    justify-content: center;
    gap:5px;
    flex-direction: column;
    align-items: center; 
 
}
.email-info, .phone-info{
    text-align: center;
    border: 1px solid var(--primary-color-gold);;
    border-radius: 5px;
    line-height: 150%;
    background: var(--primary-color-black);
    padding: 5px 0;
    width: min(100% - 2rem, 300px);
    
}

.fa-phone, .fa-envelope, .fa-location-dot{
    margin-top: 16px;
    color: var(--primary-color-gold);;
}
.location-info-container{
    display: flex;
    justify-content:center;
    margin-top: 5px;
}

.location-info{
    width: min(100% - 2rem, 300px);
    background: var(--primary-color-black);
    text-align: center;
    border: 1px solid var(--primary-color-gold);;
    border-radius: 5px;
    line-height: 150%;
    padding: 5px 0;
    }
    @media(min-width:40rem){
        .textarea-field{
            height: 150px;
        }
    }
    @media(min-width:21rem){
        .contact-info{
            display: flex;
            flex-direction: row;
            justify-content: center;    
        }
        .email-info, .phone-info{
            width: min(100% - 2rem, 147px);
        }
    }
/* Details */
.details-container{
    margin:0 auto;
    width: min(100%, 330px);
    line-height: 1.5;
    padding: 15px;
    background-color: var(--primary-color-black);
    border-radius: 5px;
}
.product-details-info{
    padding: 10px;
    background: #0d1216;
    color: var(--primary-color-gold);
}

.product-details-price{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color-gold);
    padding: 10px;
}
.product-details-digital-info{
    padding: 10px;
}

.details-img-container{
    margin: 0 auto;
    max-width: 150px;
    text-align: center;
}

.main-info, .price-cta-container, .description, .secondary-info{
    margin: 10px 0px;
}   


@media (min-width: 40rem){
    .details-container{
        width: min(100%, 700px);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:10px;
    }
    .details-img-container{
        max-width: 250px;
    }
    .description{
        grid-column: 3/5;
        grid-row: 2;
    }
    .secondary-info{
        grid-column: 3/5;
        grid-row: 3;
    }
    .product-details-info{
        grid-column: 3/5;
        grid-row: 1;
        margin: 0;
    }
    .details-img-container{
        grid-column: 1/3;
        grid-row: 1/3;
        margin: 0;
    }
    .main-info{
        grid-column: 1/3;
    }
}

/* cart */
.cart-section, .checkout-section{
    background: var(--primary-color-black);
    margin: 10px auto;
    max-width: 1000px;
    text-align: center;
    line-height: 1.5;

}
.cart-item{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}
.cart-img-container{
    max-width: 80px;
}
.img {
    max-width: 100%;
    border-radius: 5px;
}

.cart-section h2{
    font-family: var(--main-font);
    font-size: var(--font-size-normal);
    font-weight: 700;
}

.product-info-wrapper{
    display: flex;
    text-align: left;
    gap: 10px;
    align-items: center;
}

.cart-input{
    max-width: 50px;
    padding: 5px;
    border-radius: 5px;
    border:none;
}
.product-info{
    grid-column: 2/4;
}

.amount{
    grid-column: 1;
    grid-row:2;
}

.item-price{
    grid-column: 2;
    grid-row:2;
}
.total-cost{
    grid-column: 3;
    grid-row: 2;
}

@media (min-width: 40rem){
.cart-item{
    grid-template-columns: repeat(4, 1fr);
}
 .product-info{
    grid-column: 1/3;
    grid-row: 1;
   
 }

 .amount{
    grid-column: 2;
    grid-row: 1;
}
.item-price{
    grid-column: 3;
    grid-row:1;
}
.total-cost{
    grid-column: 4;
    grid-row: 1;
}
.product-info-wrapper{
    align-items: center;
}
}

/*Checkout */

.checkout-form{
    text-align: left;
    border:0;
}
.checkout-section h2, .total-text{
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
}
.summary-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    line-height: 1.5;
    text-align: left;
}

/*success*/
.checkout-page{
    background: var(--primary-color-black);
}
.success-container{
    margin: 100px auto;
    gap:50px;
    white-space: nowrap;
    line-height: 1.5;
    text-align: center;
}
.success-container img{
    max-width: 150px;
}
.success-image, .text-wrapper{
    margin-bottom: 50px;
}

/* Footer */
footer{
    width: auto;
    display: block;
    text-align: center;
    background-color:var(--black);
    line-height: 150%;
    margin-top: auto;
}

footer address, ul, .copyright{
    padding:15px;
    font-style: normal;
}
.social-media-links{
    text-align: center;
}
.social-media-links li{
    display: inline-block;
    padding: 10px 10px;
}

@media (min-width: 49rem){
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}